{% extends "super.html" %}

{% block content %}
    <div class="row bg-dark text-light text-center mx-5 my-2 p-3">
        <div class="col-12">
            Solve any first order differential equation
        </div>
    </div>
    <div class="row text-center mx-5 my-2">
        <div class="col-4 bg-dark text-light py-2">
            <a class="btn btn-large btn-light text-dark" href="{{ url_for('de_ivp') }}">
                <bold>I</bold><small>nitial</small> <bold>V</bold><small>alue</small> <bold>P</bold><small>roblems</small>
            </a>
        </div>
        <div class="col-4 bg-dark text-light py-2">
            <a class="btn btn-large btn-warning text-dark" href="{{ url_for('de_bvp') }}">
                <bold>B</bold><small>oundary</small> <bold>V</bold><small>alue</small> <bold>P</bold><small>roblems</small>
            </a>
        </div>
        <div class="col-4 bg-dark text-light py-2">
            <a class="btn btn-large btn-light text-dark" href="{{ url_for('de_ex') }}">
                Examples
            </a>
        </div>
    </div>
    <div class="row text-center mx-5 my-2">
        <div class="col-lg-3 bg-dark text-light py-2">
            <span class="text-center font-weight-bold">Options</span>
            <hr class="bg-light mt-1">
            <form class="p-2 mb-2" id="params">
                <div class="form-group row p-0">
                    <label class="col-sm-1.5 col-form-label text-left px-0" >y' = </label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="a" name="a">
                    </div>
                    <label class="col-sm-1.5 col-form-label text-left px-0">x +</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="b" name="b">
                    </div>
                    <label class="col-sm-1.5 col-form-label text-left">y +</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="c" name="c">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-left">x0</label>
                    <div class="col-sm-4 my-auto">
                      <input type="text" class="form-control" id="from" name="from" value="0">
                    </div>
                    <label class="col-sm-2 col-form-label text-left">xn</label>
                    <div class="col-sm-4 my-auto">
                      <input type="text" class="form-control" id="to" name="to">
                    </div>
                </div>
                <label class="col-sm-12 col-form-label text-center mb-2" >Boundary conditions</label>
                <div class="form-group row">
                    <div class="col-sm-3 my-auto">
                      <input type="text" class="form-control" id="b1-0" name="b1-0">
                    </div>
                    <label class="col-sm-2 col-form-label text-left px-0">x0 +</label>
                    <div class="col-sm-3 my-auto">
                      <input type="text" class="form-control" id="b1-1" name="b1-1">
                    </div>
                    <label class="col-sm-2 col-form-label text-left px-0">xn =</label>
                    <div class="col-sm-2 my-auto px-0">
                      <input type="text" class="form-control" id="b1-2" name="b1-2">
                    </div>
                </div>
                <div class="form-group row" id="super-h">
                    <label id="h-tol-label" class="col-sm-6 col-form-label text-left">h (step size) </label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="h" name="h">
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Find</button>
            </form>
            <hr class="bg-light mt-1">
            <div class="row mt-3">
                <div class="col-12" id="qjax">
                    Solution of <span class="text-warning" id="qeq">-</span>
                    with initial conditions y(<span class="text-warning" id="qx0">-</span>) = (<span class="text-warning" id="qy0">-</span>)
                </div>
            </div>
        </div>
        <div class="col-lg-9 bg-light">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <canvas id="chart-main"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- script to run chart.js -->
    <script> var hidden = true; </script>
    <script src="{{ url_for('static', filename='de.js') }}"></script>
    <!-- -->
{% endblock %}
