{% extends "super.html" %}

{% block content %}
    <div class="row bg-dark text-warning text-center rounded m-1">
        <div class="col-12">
            <h2>Implementation and Visualization of Numerical Algorithms</h2>
        </div>
    </div>
    <div class="row bg-light text-center rounded m-1">
        <div class="col-12">
            Numerical Analysis is the area of Mathematics that deals with creating, analyzing and studying
            Mathematical problems with the help of computers. Numerical Analysis has a wide variety of
            real-world applications throughout the natural sciences, social sciences, engineering, medicine,
            and even in business.

            I feel that that for a student to thoroughly understand the course, it is essential that they
            can visualize and "see" the formulas and algorithms that they learn about in class. And with
            the current growth of computers
        </div>
    </div>
    <div class="row bg-light text-center rounded m-1">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    All the algorithms have been written using <span class="font-weight-bold">Python</span> and this website is hosted on <a href="https://www.heroku.com/">Heroku</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    The code is licensed under the <a href="https://github.com/MananSoni42/numerical_analysis/blob/master/LICENSE">MIT license</a> and is completely open source (available over
                    <a href="https://github.com/MananSoni42/numerical_analysis">here</a>).
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    If you find any errors / want to add features / would like to contribute to this project,
                    head over to the <a href="https://github.com/MananSoni42/numerical_analysis">repository</a>
                    and submit a pull request or you can
                    <a href="mailto:f20170495@pilani.bits-pilani.ac.in">mail</a> me
                </div>
            </div>
        </div>
    </div>
{% endblock %}
