{% extends "super.html" %}

{% block content %}
    <div class="row bg-dark text-warning text-center rounded m-1">
        <div class="col-12 p-2">
            <h2>Implementation and Visualization of Numerical Algorithms</h2>
        </div>
    </div>
    <div class="row bg-light text-center rounded m-1">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    Numerical Analysis is the area of Mathematics that deals with creating, analyzing and studying
                    Mathematical problems with the help of computers. Numerical Analysis has a wide variety of
                    real-world applications throughout the natural sciences, social sciences, engineering, medicine,
                    and even in business.
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-light text-center rounded m-1">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    All the algorithms have been written using <span class="font-weight-bold">Python</span> and this website is hosted on <a href="https://www.heroku.com/">Heroku</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    The code is licensed under the <a href="https://github.com/MananSoni42/numerical_analysis/blob/master/LICENSE">MIT license</a> and is completely open source (available over
                    <a href="https://github.com/MananSoni42/numerical_analysis">here</a>).
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    If you find any errors / want to add features / would like to contribute to this project,
                    head over to the <a href="https://github.com/MananSoni42/numerical_analysis">repository</a>
                    and submit a pull request or you can
                    <a href="mailto:f20170495@pilani.bits-pilani.ac.in">mail</a> me
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-light text-center rounded m-1">
        <div class="col-12">
            Written by Manan Soni (2017B4A70495P)
        </div>
    </div>

{% endblock %}
