{% extends "super.html" %}

{% block content %}
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-10 bg-dark text-warning text-center rounded m-1 mt-3 p-3">
            <h2>Implementation and Visualization of Numerical Algorithms</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 bg-light text-center rounded m-1 p-3">
            <div class="row">
                <div class="col-12">
                    <p>
                        Numerical Analysis is the area of Mathematics that deals with creating, analyzing and studying
                        Mathematical problems with the help of computers. It has a wide variety of
                        real-world applications throughout the natural sciences, engineering, medicine,
                        and even in business.
                    </p>
                    <p>
                        The aim of this website is to provide a simple and easy to use interface along with
                        useful visualiazations to some common Numerical Analysis algorithms that are accessible
                        to everyone without skimming over the important technical details. The motivation being
                        that Numerical Analysis is a subject at the intersection of Mathematics and Computer
                        Science and its beauty should not be lost in hand-calculations.
                    </p>
                    <p>
                        The website is divided into 6 main modules which can be accessed using the navigation bar above.
                        Each module is independant and self-contained. Each module solves a different problem and a simple
                        description (in layman terms) is provided at the begining of each module as well.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 bg-light text-center rounded m-1 p-3">
            <div class="row">
                <div class="col-12">
                    All the algorithms have been written using <span class="font-weight-bold">Python</span> and this website is hosted on <a href="https://www.heroku.com/">Heroku</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    The code is licensed under the <a href="https://github.com/MananSoni42/numerical_analysis/blob/master/LICENSE">MIT license</a> and is completely open source (available over
                    <a href="https://github.com/MananSoni42/numerical_analysis">here</a>).
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    If you find any errors / want to add features / would like to contribute to this project,
                    head over to the <a href="https://github.com/MananSoni42/numerical_analysis">repository</a>
                    and submit a pull request or you can
                    <a href="mailto:f20170495@pilani.bits-pilani.ac.in">mail</a> me
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 bg-light text-center rounded m-1 p-3">
            Written by Manan Soni (2017B4A70495P)
        </div>
        <div class="col-1"></div>
    </div>

{% endblock %}
