{% extends "super.html" %}

{% block content %}
    <div class="row bg-dark text-light text-center mx-5 my-2 p-3">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    Find the definite integral of any function f(x) using numerical methods
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <small>need to specify the number of points to use for the approximation</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center mx-5 my-2">
        <div class="col-lg-3 bg-dark text-light py-2">
            <span class="text-center font-weight-bold">Options</span>
            <hr class="bg-light mt-1">
            <form class="p-2" id="params">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-left">f(x)</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="f" name="f">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-left">From</label>
                    <div class="col-sm-4 my-auto">
                      <input type="text" class="form-control" id="from" name="from">
                    </div>
                    <label class="col-sm-2 col-form-label text-left">To</label>
                    <div class="col-sm-4 my-auto">
                      <input type="text" class="form-control" id="to" name="to">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-8 col-form-label text-left">number of points</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="n" name="n">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-left">Method</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="method" name="method">
                          <option value="trap"> Trapeziod rule </option>
                          <option value="simp" selected> Simpson's rule </option>
                          <option value="simp_3/8"> Simpson's 3/8 rule </option>
                          <option value="gauss_legendre"> Gaussian quadrature </option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Integrate</button>
            </form>
            <hr class="bg-light mt-1">
            <div class="row mt-3 text-warning">
                <div class="col-12" id="ans">
                    $$ \int_{a}^{b} f(x) \,dx \approx $$
                </div>
            </div>
        </div>
        <div class="col-lg-9 bg-light">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <canvas id="chart-main"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- script to run chart.js -->
    <script src="{{ url_for('static', filename='int.js') }}"></script>
    <!-- -->
{% endblock %}
