{% extends "super.html" %}

{% block content %}
    <div class="row bg-dark text-light text-center mx-5 my-2 p-3">
        <div class="col-12">
            Solve linear systems of upto 5 variabless (numerically). Linear equations are represented as AX = b. (Requires an initial solution)
        </div>
    </div>

    <div class="row text-center mx-5 my-2">
        <div class="col-lg-6 bg-dark text-light py-2 border-right border-secondary">
            <span class="text-center font-weight-bold">Options</span>
            <hr class="bg-light mt-1">
            <form class="p-2" id="params">
                <input type="hidden" id="n" name="n" value="0">
                <div class="form-group row">
                    <div class="form-group row mb-0">
                        <div class="col-2">
                            <small>Add</small>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success" id="addeq" type="button">+</button>
                        </div>
                        <div class="col-2">
                            <small>Remove</small>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-danger" id="subeq" type="button">-</button>
                        </div>
                    </div>
                    <div id="matrix-input">
                        <!-- Filled by javascript -->
                    </div>
                </div>
                <hr class="bg-light mt-1">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-left">Method</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="method" name="method">
                          <option value="exact"> Exact solution </option>
                          <option value="gauss-elim"> Gauss elimination </option>
                          <option value="jacobi"> Jacobi method </option>
                          <option value="gauss-seidel" selected> Gauss-Seidel method </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-8 col-form-label text-left">x0 i.e. Initial guess (comma seperated numbers)</label>
                    <div class="col-sm-4 my-auto">
                      <input type="text" class="form-control" id="initial" name="initial">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label text-left">
                        Tolerance (max: 0.1)
                    </label>
                    <div class="col-sm-6 my-auto">
                        <input type="text" class="form-control" id="tol" name="tol">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-left">Norm</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="norm" name="norm">
                          <option value="1" selected> norm 1: max(abs(row sum) </option>
                          <option value="inf"> norm inf: max(abs(column sum) </option>
                          <option value="2"> norm 2: max(abs(matrix)) </option>
                          <option value="frobenius"> Frobenius norm </option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Find</button>
            </form>
        </div>
        <div class="col-lg-6 bg-dark text-light py-2 border-left border-secondary">
            <span class="text-center font-weight-bold text-light">Solution</span>
            <hr class="bg-light mt-1">
            <div class="row text-center bg-dark text-light">
                <div class="col-12">
                    <div class="row my-2">
                        <div class="col-12">
                            Condition number <span id="sol_cond" class="text-warning">0</span>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            A is diagonally dominant? <span id="sol_diag1" class="text-warning">false</span>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            Can A be converted to a diagonally dominant form? <span id="sol_diag2" class="text-warning">false</span>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            Transformed A:
                            <div class="row justify-content-center">
                                <div class="col-auto" id="sol_diag3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            X:
                            <div class="row justify-content-center">
                                <div class="col-auto" id="sol_ans"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            Reached in <span id="sol_itr" class="text-warning">0</span> iterations
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='lineq.js') }}"></script>
{% endblock %}
