{% extends "super.html" %}

{% block content %}
    <div class="row bg-dark text-light text-center mx-5 my-2 p-3">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    Solve the equation f(x) = 0 for an arbitrary function f(x)
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <small>requires an initial guess / an interval containing a zero</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center mx-5 my-2">
        <div class="col-lg-3 bg-dark text-light py-2">
            <span class="text-center font-weight-bold">Options</span>
            <hr class="bg-light mt-1">
            <form class="p-2" id="params">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label text-left">f(x)</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="f" name="f">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-left">Method</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="method" name="method">
                          <option value="bisection"> Bisection </option>
                          <option value="regula-falsi"> Regular Falsi </option>
                          <option value="secant"> Secant </option>
                          <option value="newton" selected> Newton-Raphson </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-8 col-form-label text-left">Initial guess / interval <small>(comma seperated numbers)</small></label>
                    <div class="col-sm-4 my-auto">
                      <input type="text" class="form-control" id="initial" name="initial">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label text-left">
                        Tolerance (max: 0.1)
                    </label>
                    <div class="col-sm-6 my-auto">
                        <input type="text" class="form-control" id="tol" name="tol">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-left">Stopping criteria</label>
                    <div class="col-sm-8">
                        <select class="custom-select" id="stop" name="stop">
                          <option value="abs" selected> Absolute </option>
                          <option value="rel"> Relative </option>
                          <option value="func"> Function based</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Find a zero</button>
            </form>
        </div>
        <div class="col-lg-6 bg-light">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <canvas id="chart-main"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <canvas id="chart-iter"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 bg-dark">
            <div class="row text-center bg-dark text-light">
                <div class="col-12">
                    <span class="text-center font-weight-bold mt-3">Solution</span>
                    <hr class="bg-light">
                </div>
                <div class="col-12">
                    <div class="row my-5">
                        <div class="col-12">
                            x = <span id="sol_ans" class="text-warning">1.00000</span> $\pm$ <span id="sol_tol">0.001</span>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-12">
                            Reached in <span id="sol_itr" class="text-warning">6</span> iterations
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col-12">
                            with order of convergence of <span id="sol_conv" class="text-warning">1.757</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- script to run chart.js -->
    <script src="{{ url_for('static', filename='zeroes.js') }}"></script>
    <!-- -->
{% endblock %}
